.banner-slogan {
  display:none;
}
.sunshine-image {
  left:0;
  top:113px;
  right:0;
  height:337px;
  z-index:2;
}
.yellow-img2 {
  display:none;
}
.content-middle {
  max-width:1140px;
  margin:0 auto;
  width:100%;
  padding:0;
  height:337px;
}
